[submodule "arm_vcpu"]
	path = arm_vcpu
	url = git@github.com:arceos-hypervisor/arm_vcpu.git
[submodule "arm_vgic"]
	path = arm_vgic
	url = git@github.com:arceos-hypervisor/arm_vgic.git
[submodule "axaddrspace"]
	path = axaddrspace
	url = git@github.com:arceos-hypervisor/axaddrspace.git
[submodule "axdevice"]
	path = axdevice
	url = git@github.com:arceos-hypervisor/axdevice.git
[submodule "axdevice_base"]
	path = axdevice_base
	url = git@github.com:arceos-hypervisor/axdevice_base.git
[submodule "axhvc"]
	path = axhvc
	url = git@github.com:arceos-hypervisor/axhvc.git
[submodule "axvcpu"]
	path = axvcpu
	url = git@github.com:arceos-hypervisor/axvcpu.git
[submodule "x86_vlapic"]
	path = x86_vlapic
	url = git@github.com:arceos-hypervisor/x86_vlapic.git
[submodule "x86_vcpu"]
	path = x86_vcpu
	url = git@github.com:arceos-hypervisor/x86_vcpu.git
[submodule "riscv_vcpu"]
	path = riscv_vcpu
	url = git@github.com:arceos-hypervisor/riscv_vcpu.git
[submodule "riscv-h"]
	path = riscv-h
	url = git@github.com:arceos-hypervisor/riscv-h.git
[submodule "axvmconfig"]
	path = axvmconfig
	url = git@github.com:arceos-hypervisor/axvmconfig.git
[submodule "axvm"]
	path = axvm
	url = git@github.com:arceos-hypervisor/axvm.git
[submodule "axvisor_api"]
	path = axvisor_api
	url = git@github.com:arceos-hypervisor/axvisor_api.git
