[submodule "arm_vcpu"]
	path = components/arm_vcpu
	url = git@github.com:arceos-hypervisor/arm_vcpu.git
[submodule "arm_vgic"]
	path = components/arm_vgic
	url = git@github.com:arceos-hypervisor/arm_vgic.git
[submodule "axaddrspace"]
	path = components/axaddrspace
	url = git@github.com:arceos-hypervisor/axaddrspace.git
[submodule "axdevice"]
	path = components/axdevice
	url = git@github.com:arceos-hypervisor/axdevice.git
[submodule "axdevice_base"]
	path = components/axdevice_base
	url = git@github.com:arceos-hypervisor/axdevice_base.git
[submodule "axhvc"]
	path = components/axhvc
	url = git@github.com:arceos-hypervisor/axhvc.git
[submodule "axvcpu"]
	path = components/axvcpu
	url = git@github.com:arceos-hypervisor/axvcpu.git
[submodule "x86_vlapic"]
	path = components/x86_vlapic
	url = git@github.com:arceos-hypervisor/x86_vlapic.git
[submodule "x86_vcpu"]
	path = components/x86_vcpu
	url = git@github.com:arceos-hypervisor/x86_vcpu.git
[submodule "riscv_vcpu"]
	path = components/riscv_vcpu
	url = git@github.com:arceos-hypervisor/riscv_vcpu.git
[submodule "riscv-h"]
	path = components/riscv-h
	url = git@github.com:arceos-hypervisor/riscv-h.git
[submodule "axvmconfig"]
	path = components/axvmconfig
	url = git@github.com:arceos-hypervisor/axvmconfig.git
[submodule "axvm"]
	path = components/axvm
	url = git@github.com:arceos-hypervisor/axvm.git
[submodule "axvisor_api"]
	path = components/axvisor_api
	url = git@github.com:arceos-hypervisor/axvisor_api.git
[submodule "components/axklib"]
	path = components/axklib
	url = git@github.com:arceos-hypervisor/axklib.git
[submodule "os/axvisor"]
	path = os/axvisor
	url = git@github.com:arceos-hypervisor/axvisor.git
[submodule "components/range-alloc-arceos"]
	path = components/range-alloc-arceos
	url = git@github.com:arceos-hypervisor/range-alloc.git
[submodule "components/axallocator"]
	path = components/axallocator
	url = git@github.com:arceos-org/allocator.git
[submodule "components/axerrno"]
	path = components/axerrno
	url = git@github.com:arceos-org/axerrno.git
[submodule "components/axio"]
	path = components/axio
	url = git@github.com:arceos-org/axio.git
[submodule "components/axsched"]
	path = components/axsched
	url = git@github.com:arceos-org/axsched.git
[submodule "components/cpumask"]
	path = components/cpumask
	url = git@github.com:arceos-org/cpumask.git
[submodule "components/crate_interface"]
	path = components/crate_interface
	url = git@github.com:arceos-org/crate_interface.git
[submodule "components/ctor_bare"]
	path = components/ctor_bare
	url = git@github.com:arceos-org/ctor_bare.git
[submodule "components/handler_table"]
	path = components/handler_table
	url = git@github.com:arceos-org/handler_table.git
[submodule "components/kernel_guard"]
	path = components/kernel_guard
	url = git@github.com:arceos-org/kernel_guard.git
[submodule "components/kspin"]
	path = components/kspin
	url = git@github.com:arceos-org/kspin.git
[submodule "components/lazyinit"]
	path = components/lazyinit
	url = git@github.com:arceos-org/lazyinit.git
[submodule "components/linked_list_r4l"]
	path = components/linked_list_r4l
	url = git@github.com:arceos-org/linked_list_r4l.git
[submodule "components/axmm_crates"]
	path = components/axmm_crates
	url = git@github.com:arceos-org/axmm_crates.git
[submodule "components/page_table_multiarch"]
	path = components/page_table_multiarch
	url = git@github.com:arceos-org/page_table_multiarch.git
[submodule "components/percpu"]
	path = components/percpu
	url = git@github.com:arceos-org/percpu.git
[submodule "components/timer_list"]
	path = components/timer_list
	url = git@github.com:arceos-org/timer_list.git
[submodule "components/axconfig-gen"]
	path = components/axconfig-gen
	url = git@github.com:arceos-org/axconfig-gen.git
[submodule "components/axcpu"]
	path = components/axcpu
	url = git@github.com:arceos-org/axcpu.git
[submodule "components/axplat_crates"]
	path = components/axplat_crates
	url = git@github.com:arceos-org/axplat_crates.git
[submodule "components/arceos"]
	path = components/arceos
	url = git@github.com:arceos-org/arceos.git
[submodule "components/axbacktrace"]
	path = components/axbacktrace
	url = git@github.com:Starry-OS/axbacktrace.git
[submodule "components/bitmap-allocator"]
	path = components/bitmap-allocator
	url = git@github.com:rcore-os/bitmap-allocator.git
[submodule "components/axpoll"]
	path = components/axpoll
	url = git@github.com:Starry-OS/axpoll.git
[submodule "components/int_ratio"]
	path = components/int_ratio
	url = git@github.com:arceos-org/int_ratio.git
[submodule "components/arm_pl011"]
	path = components/arm_pl011
	url = git@github.com:arceos-org/arm_pl011.git
[submodule "components/arm_pl031"]
	path = components/arm_pl031
	url = git@github.com:arceos-org/arm_pl031.git
[submodule "components/riscv_plic"]
	path = components/riscv_plic
	url = git@github.com:arceos-org/riscv_plic.git
[submodule "components/axdriver_crates"]
	path = components/axdriver_crates
	url = git@github.com:arceos-org/axdriver_crates.git
[submodule "components/riscv_vplic"]
	path = components/riscv_vplic
	url = git@github.com:arceos-hypervisor/riscv_vplic.git
[submodule "components/axfs-ng-vfs"]
	path = components/axfs-ng-vfs
	url = https://github.com/Starry-OS/axfs-ng-vfs.git
[submodule "components/rsext4"]
	path = components/rsext4
	url = https://github.com/Starry-OS/rsext4.git
[submodule "components/scope-local"]
	path = components/scope-local
	url = https://github.com/Starry-OS/scope-local
[submodule "components/virtio-drivers"]
	path = components/virtio-drivers
	url = https://github.com/rcore-os/virtio-drivers
[submodule "components/arm-gic-driver"]
	path = components/arm-gic-driver
	url = https://github.com/rcore-os/arm-gic-driver
[submodule "components/any-uart"]
	path = components/any-uart
	url = https://github.com/rcore-os/any-uart
[submodule "components/somehal"]
	path = components/somehal
	url = https://github.com/rcore-os/somehal
